* {
	Margin: 0px;
	font-family: Arial;
	background-image: linear-gradient(#96bbdd, #325282);
}

.navbar {
	background: rgb(78, 115, 163);
	opacity: 90%;
	text-align: center;
	font-family: monospace;
	font-size: 40px;
}