html {
	background: #96bbdd url("./images/forestbackground.jpg") no-repeat;

}

body {
	font-family: Arial;
}

.navbar {
	margin-top: 0;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 20px;
	box-shadow: 1px 1px 10px 1px rgb(30, 37, 139);
	background-image: linear-gradient(#4e73a3, #96bbdd);
	opacity: 90%;
	text-align: center;
	text-decoration: none;
	font-family: monospace;
	font-size: 40px;
	
	
	
}

#recipeDiv {
	display: inline-block;

}

img {
	border-radius: 10px;
}

#homeimg {
	width: 150px;
	margin-top: 10px;
	border-radius: 10px 10px 0px 0px;

}

p {
	font-size: 17px;
	background: #96bbdd;
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 90%;
}

ul {
	font-size: 16px;
	text-align: left;
}

.uldiv {

	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
}

ol {
	font-size: 16px;
	text-align: left;
}

.oldiv {

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
}

hr {
	opacity: 0;

}

#varRec {
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 0px;
}

#varRec:hover {
	opacity: 50%;
	transition: linear 0.5s;

	/*background: -webkit-linear-gradient(#4e73a3, #96bbdd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-transition: linear 0.5s;
	text-decoration: underline;
	-webkit-animation-timing-function: ease-in;*/

}

#recipebutton {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	background: rgb(102, 186, 255);
	border-radius: 0px 0px 10px 10px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;


}

#recipebutton:hover {
	opacity: 40%;
	transition: linear 0.2s;
	box-shadow: 1px 1px 10px 1px white;
	background: darkblue;
}

a {
	color: black;
}

a:hover {
	color: white;
	transition: linear 0.2s;
}

#github {
	font-size: 18px;
	text-decoration: none;
}

h2 {
	font-size: 20px;
}

#goback {
	position: fixed;
	text-align: center;
	font-size: 17px;
	background: #4e73a3;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

#link {
	font-size: 17px;
	background: #96bbdd;
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 90%;
	text-decoration: none;
}